---

---
@charset "utf-8";

@import "materialize/materialize";


html, body {
  height: 100%;
  width: 100%; }
body { font-family: "Roboto", sans-serif; }


/*------------------ Helpfull styles -------------------*/
.float-right{
  float: right;
}

.button {
  background-color: #00e1a4;
  border: none;
  color: white;
  display: inline-block;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font: {
    size: 16px;
    weight: 700;
  }
  -webkit-transition: all 0.5s;
}
.button:hover{
  cursor: pointer;
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 225, 164, 0.4);
  -webkit-transition: all 0.5s;
}

.button-square{
  padding: 27px 30px;
  height: 80px;
  width: 80px;
}

.vertical-middle{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-center{
  text-align: center;
}

/*----------------------------------------------------------------*/
/*---------------------- Navigation Menu -------------------------*/
/*----------------------------------------------------------------*/
.navigation-bar {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  &.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0,-60px);
    -webkit-transition: -webkit-transform .5s,background .3s,color .3s,opacity 0.3s;
  }

  &.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .5s,background .3s,color .3s;
  }

  .main-nav-menu{
    position: relative;
    float: right;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 17px 12px;
      text-transform: uppercase;
      font: {
        size: 16px;
        weight: 700;
      }

      a{
        color: #000;
        -webkit-transition: all 0.2s;
      }
      a:hover {
        color: #00da9f;
        text-decoration: none;
        -webkit-transition: all 0.2s;
      }

    }
  }

  .logo{
    height: auto;
    width: 181px;
  }

  .menu-content{
    padding: 15px 0;
  }

  .active{
    color: #00da9f;
  }

}

/*--------------- Modal form ----------------*/
.modal{
  border-radius: 0 !important;
  background-color: #00e1a4;
  overflow: visible !important;

  .m-content{
    background-color: #fff;
    margin: 50px 50px -50px -50px;
    padding: 35px;
  }
  h3{
    font-weight: 700;
  }

}
.file-path-wrapper{
  padding: 0 15px;
  font: {
    size: 25px;
  }
}
.modal-close{
  background-color: #00e1a4;

  &:hover{
    background-color: #00da9f;
  }
}
/*-------------------------------------------------------------------------*/
/*----------------------------- Main content ------------------------------*/
/*-------------------------------------------------------------------------*/

.main-title{
  width: 100%;
  h3{
    text-transform: uppercase;
    font: {
      size: 100px;
      weight: 300;
    }
  }

  span{
    font: {
      size: 20px;
      weight: 400;
    }
  }
}

.main-img{
  position: relative;
  z-index: -100;
  img{
    height: auto;
    width: 1250px;
  }
}

.team-img{
  position: absolute;
  margin: 150px 0 0 -70px;
  z-index: -100;
  img{
    height: auto;
    width: 1000px;
  }
}

.quotes{
  position: relative;
  margin: 0 0 100px 0;
  width: 100px;
}

.quotes-2{
  position: relative;
  margin: 0 -450px 100px 0;
  width: 100px;
}

.description{
  position: relative;
  margin:{
    top: -100px;
    bottom: 50px;
  }
  width: 620px;

  h3{
    font: {
      size: 40px;
      weight: 700;
    }
    margin-bottom: 50px;
  }

  span{
    font: {
      size: 22px;
      weight: 400;
    }
  }

}

.content-parallax-1{
  position: relative;
  margin-top: -1100px;
  height: 950px;
}

.content-parallax-2{
  position: relative;
  height: 250px;

  .card-style{
    font: {
      size: 20px;
      weight: 500;
    }

    .text{
      font: {
        size: 16px;
        weight: 400;
      }
    }

    .name{
      margin-top: 10px;
    }

    .job{
      color: #c3c3c3;
      font: {
        size: 20px;
        weight: 400;
      }
    }

  }
  .send-cv-position{
    display: inline-block;
    position: relative;
    margin: {
      left: 400px;
    }
  }

  .card{
    margin-top: 0 !important;
  }

  .vertical-box{
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    width: 381px;
    margin-top: -200px;

    .slide-num{
      font-size: 16px;
      margin: 0 0 15px 0;
    }
    .slidesjs-navigation{
      padding: 5px;
      display: inline-block;
      margin: 15px 0 15px 20px;
    }
  }

  .horizontal-box{
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    width: 572px;
    .card-image{
      float: left;
    }
    img {
      max-width: none !important;
    }

    .slide-num{
      font-size: 16px;
      margin: 0 0 15px 0;
    }

    .slidesjs-navigation{
      padding: 5px;
      display: inline-block;
      margin: 15px 0 0 0;
    }

    .card-content-1{
      margin-left: 290px;
    }

  }
}

.content-parallax-3{
  margin-top: 1000px;

  .why-freshcode{
    position: relative;

    &:before {
      content: ' ';
      background: {
        image: url("/images/Paterns/01_patern.jpg");
        repeat: repeat;
        position: 50% 0;
      }
      display: block;
      position: relative;
      margin-top: -200px;
      width: 100%;
      height: 500px;
      z-index: -20;
      opacity: 0.2;
    }

    .why-freshcode-slides{
      position: relative;
      background-color: #00e1a4;
      height: 400px;
      margin: {
        top: -300px;
        left: 150px;
      };
    }

    &:after{
      content: ' ';
      display: block;
      background-color: #f8f8f8;
      position: relative;
      margin-left: 150px;
      height: 50px;
      width: calc(100% - 150px);
    }

  }

}

.content-parallax-4{

  .vac-description{
    position: relative;
    img{
      float:left;
      margin: 0 25px;
    }

    h3{
      display: inline-block;
      font: {
        size: 40px;
        weight: 700;
      }
      margin: 25px 0;
    }

    span{
      display: inline-block;
      font: {
        size: 22px;
        weight: 400;
      }
    }
  }

  .all-vacancy-position{
    margin: 10px 0 0 250px;
  }

  .vacancy-img{
    position: relative;
    &:before{
      content: '';
      background: {
        image: url("/images/Paterns/02_patern.jpg");
        repeat: repeat;
      };
      display: block;
      position: relative;
      height: 450px;
      opacity: 0.2;
      margin: -150px 0 0 20%;
      z-index: -100;
    }

  }

  .vacancy-img-text{
    margin: -200px 0 0 20%;
    position: relative;
    z-index: -10;

    img{
      height: auto;
      width: 110%;
    }
  }

  .vacancy-img-lines{
    margin: -270px 0 -5px 0;
    position: relative;
  }

}

/*---------------------------------------------------------*/
/*------------------------ Footer -------------------------*/
/*---------------------------------------------------------*/
footer{
  background-color: #00e1a4;
  color: #fff;
  font: {
    size: 16px;
    weight: 700;
  }
  height: 200px;

  .footer-col{
    margin-top: 10px;
    height: 170px;
  }

  ul {
    list-style-image: url('/images/Rectangle.png');
  }

  .img-footer{
    height: 180px;
  }

  img{
    margin-left: 15px;
  }
}