---

---
@charset "utf-8";

@import "styleguide";

html, body {
  height: 100%;
  width: 100%; }
body { font-family: "Roboto", sans-serif; }


/*------------------ Helpfull styles -------------------*/
.float-right{
  float: right;
}

.button {
  background-color: #00e1a4;
  border: none;
  color: white;
  display: inline-block;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font: {
    size: 16px;
    weight: 700;
  }
  -webkit-transition: all 0.5s;
}
.button:hover{
  cursor: pointer;
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 225, 164, 0.4);
  -webkit-transition: all 0.5s;
}

.button-square{
  padding: 27px 30px;
  height: 80px;
  width: 80px;
}

.vertical-middle{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-center{
  text-align: center;
}


/*--------------- Modal form ----------------*/
.modal{
  border-radius: 0 !important;
  background-color: #00e1a4;
  overflow: visible !important;

  .m-content{
    background-color: #fff;
    margin: 50px 50px -50px -50px;
    padding: 35px;
  }
  h3{
    font-weight: 700;
  }

}
.file-path-wrapper{
  padding: 0 15px;
  font: {
    size: 25px;
  }
}
.modal-close{
  background-color: #00e1a4;

  &:hover{
    background-color: #00da9f;
  }
}