---
permalink: /
layout: default
---
<div class="container">
    <div class="articles-img" data-0="top: 0px" data-1000="top: 200px">
        <img src="/images/articles_pic_1.png" class="float-right"/>
    </div>

    <div class="vertical-middle articles-title" data-0="top: 0px" data-1000="top: -100px">
        <section class="content-parallax-1 vertical-middle text-center">
            <h3>Freshcode</h3>
            <span>Предлагаем интересную работу в IT компании</span>
            <span><a href="" class="button" style="margin-top: 35px;">Ищем таланты</a></span>
        </section>
    </div>


    <div class="content-parallax-2">
        <section class="description" data-0="top: 0px" data-1000="top: -100px">
            <h3>{{ site.data.articles.sections.сolleagues.title }}</h3>
            <span>{{ site.data.articles.sections.сolleagues.text }}</span>
        </section>


        <a href="#CVForm" class="button send-cv-position" data-0="top: 0px" data-100="top: -50px">Отправить резюме</a>


        <div class="quotes" data-500="top: 0px" data-1000="top: -100px">
            <img src="/images/slices/icon_quotes_2.svg" />
        </div>

        <div class="team-img" data-0="top: 0px" data-1000="top: 200px">
            <img src="/images/Team.png" />
        </div>


        <section id="slides-vertical" class="vertical-box float-right" data-0="top: 0px" data-1200="top: -250px">
            {% for c in site.data.articles.vertical-cards %}
            <div class="card">
                <div class="card-image">
                    <img src={{ c.img }}>
                </div>
                <div class="card-style card-content">
                    <p class="slide-num"><span class="slider-number-vertical"></span> /
                        <span class="all-vertical-num"></span>
                    </p>
                    <p class="text">{{ c.text }}</p>
                    <p class="name">{{ c.name }},</p>
                    <p class="job">{{ c.job }}</p>
                </div>
            </div>
            {% endfor %}
            <a href="#" class="slidesjs-previous slidesjs-navigation"><img src="/images/slices/icon_arrow_left.svg" /></a>
            <a href="#" class="slidesjs-next slidesjs-navigation"><img src="/images/slices/icon_arrow_right.svg" /></a>
        </section>


        <section id="slides-horizontal" class="horizontal-box" data-0="top: 0px" data-1000="top: -50px">
            {% for c in site.data.articles.horizontal-cards %}
            <div class="card horizontal">
                <div class="card-image">
                    <img src={{ c.img }}>
                </div>
                <div class="card-style card-content">
                    <p class="slide-num"><span class="slider-number-horizontal"></span> /
                        <span class="all-horizontal-num"></span>
                    </p>
                    <p class="text">{{ c.text }}</p>
                    <p class="name">{{ c.name }},</p>
                    <p class="job">{{ c.job }}</p>

                    <a href="#" class="slidesjs-previous slidesjs-navigation"><img src="/images/slices/icon_arrow_left.svg" /></a>
                    <a href="#" class="slidesjs-next slidesjs-navigation"><img src="/images/slices/icon_arrow_right.svg" /></a>
                </div>

            </div>
            {% endfor %}
        </section>


        <div class="quotes-2 float-right" data-0="top: 100px" data-1300="top: -210px">
            <img src="/images/slices/icon_quotes_1.svg" />
        </div>
    </div>

    <div class="content-parallax-3">
        <section class="description" data-500="top: 0px" data-2500="top: -150px">
            <h3>{{ site.data.articles.sections.why.title }}</h3>
            <span>{{ site.data.articles.sections.why.text }}</span>
        </section>

        <section class="why-freshcode" data-1000="top: 0px" data-2500="top: -250px">
            <div class="why-freshcode-slides">
                <!----------------  Add slideshow here ------------------->
            </div>
        </section>
    </div>

    <div class="content-parallax-4">
        <div data-0="top: -350px" data-2500="top: 0px" style="position: relative;">
            <section class="vac-description" >
                <img src="/images/slices/icon_eye.svg">
                <h3>{{ site.data.articles.sections.vacancies.title }}</h3>
                <span>{{ site.data.articles.sections.vacancies.text }}</span>
            </section>
            <br>
            <a href="" class="button all-vacancy-position">Смотреть все вакансии</a>
            </div>
        <div class="vacancy-img" data-0="top: 50px" data-2500="top: 0px"></div>
        <div class="vacancy-img-text" data-0="top: 500px" data-2500="top: -50px"><img src="/images/vac.png" /></div>
        <div class="vacancy-img-lines"><img src="/images/triangle.png" /></div>
    </div>
</div>

