@import "../mixins";
@import "../variables";

.main-title {
  width: 100%;

  h3 {
    text-transform: uppercase;
    font: {
      size: 100px;
      weight: 300;
    }
  }

  span {
    font: {
      size: $font-size-big;
      weight: 400;
    }
  }
}

.main-img {
  position: relative;
  z-index: -100;
  img {
    height: auto;
    width: 1250px;
  }
}

.team-img {
  position: absolute;
  margin: 150px 0 0 -70px;
  z-index: -100;
  img {
    height: auto;
    width: 1000px;
  }
}

.description {
  position: relative;
  margin: {
    top: -100px;
    bottom: 50px;
  }
  width: 620px;

  h3 {
    font: {
      size:  $font-size-big * 2;
      weight: 700;
    }
    margin-bottom: 50px;
  }

  span {
    font: {
      size: $font-size-big + 2px;
      weight: 400;
    }
  }

}
