@import "../mixins";
@import "../variables";

.green-card{
  background-color: $green;
  border-bottom: 2px solid $white;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  font: {
    size: $font-size-base;
    weight: 700;
  }
  padding-left: 25px;
  margin: -2px 0 0 2px;
  height: 63px;
  width: 292px;

  @include breakpoint($screen-nexus){
    width: 50%;
  }

}

.team-slider {
  min-height: 500px;
  width: 100% !important;
  position: relative;
  overflow: visible !important;

  @include breakpoint($screen-nexus){
    width: 100% !important;
  }

  .link-nav{
    position: relative;
    float: right;
    z-index: 100;

    @include breakpoint($screen-lg){

    }

  }

  .card {
    box-shadow: none;
  }

  .slidesjs-container,
  .slidesjs-control {
    height: 500px !important;
    width: 100% !important;

    @include breakpoint($screen-nexus){
      height: 1300px !important;
    }
  }

  .top-navigation {

    .link {
      width: 35px;
      display: flex;
      justify-content: space-between;
    }

    a {
      height: 18px;
    }
  }

  .card.horizontal {
    display: block;
    padding: 0;
  }

  .green-card {
    background-color: transparent;
    width: 100% !important;

  }

  .body-slide {
    background-color: $green;
    display: flex;
    height: 401px;
    max-width: 999px;
    padding: 10px;
   // margin: 0 0 0 -25px;
    align-items: center;
    justify-content: center;

    @include breakpoint($screen-nexus){
      flex-direction: column;
      //margin: 0 0 0 -39px;
      padding: 25px 45px;
      height: auto;
      width: 100%;
    }
    @include breakpoint($screen-nexus - 100){
    //  margin: 0 0 0 -35px;
    }
    @include breakpoint($screen-iphone){
      padding: 25px;
    //  margin: 0 0 0 -30px;
    }

  }

  .block-slide {
    height: 305px;
    width: 301px;
    border: 2px solid $white;
    position: relative;

    @include breakpoint($screen-nexus){
      height: 305px;
      width: 100%;
    }

    @include breakpoint($screen-iphone-sm){
      height: 205px;
    }

    &:last-child {
      border-left: 0;
      border-top: 2px solid $white;

      @include breakpoint($screen-nexus) {
        border-top: 0;
        border-left: 2px solid $white;
      }
    }

    &:first-child {
      border-right: 0;
      border-bottom: 2px solid $white;

      @include breakpoint($screen-nexus) {
        border-bottom: 0;
        border-right: 2px solid $white;
      }
    }
  }

  .text {
    height: 67px;
    border-top: 2px solid $white;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    text-transform: uppercase;
    font-size: $font-size-base;
    font-weight: 700;
    text-align: center;

    @include breakpoint($screen-iphone-sm){
      font-size: $font-size-base - 3px;
      height: 45px;
    }

  }

  .card-image {
    height: 238px;
    width: 100%;
    max-width: none !important;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint($screen-iphone-sm){
      height: 160px;

      img{
        height: auto;
        width: 60%;
      }

    }
  }

  .slide-num {
    color:  $white !important;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
  }

  .slidesjs-navigation {
    display: none;

    @include breakpoint(md) {
      display: block;
    }
  }
}
