@import "../mixins";
@import "../variables";

.vacancy {
  margin-top: 95px;

  .base-section {
    display: flex;

    .text-block {
      max-width: 704px;
    }

    .line,
    .subtitle,
    .intro {
      z-index: 2;
      position: relative;
    }

    .title,
    .subtitle,
    .intro {
      color: $black;
    }

    .title {
      margin: 148px 0 0 -28px;
      width: 510px;
      line-height: .9;
      font-size: $font-size-title - 4px;
      font-weight: 300;
      height: 76px;
      text-transform: uppercase;
    }

    .line {
      background-color: $black;
      margin: 29px 0 0;
      height: 7px;
      width: 482px;
    }

    .subtitle {
      font-size: $font-size-big * 2;
      font-weight: 700;
      line-height: 40px;
      width: 679px;
      margin: 70px 0 38px 0;
    }
  }

  .intro {
    font-size: $font-size-big;
    font-weight: 400;
    line-height: 26px;
    transform: scaleX(1.002);
  }

  .block-image {
    margin-top: 90px;
    position: relative;
    z-index: 2;

    .dote {
      z-index: -1;
      left: -130px;
      bottom: 24px;
      position: absolute;
    }
  }

  .shadow {
    position: relative;
    z-index: 1;
    background-color: $shadow;
    top: -16.7rem;
    left: 287px;
    width: 856px;
    height: 244px;
  }

  .shadow-triangle {
    position: relative;
    z-index: 1;
    width: 0;
    height: 0;
    right: -27.7rem;
    top: -22.5rem;
    border-top: 288px solid $shadow;
    border-right: 290px solid transparent;
  }

  .subtext {
    color: $subtext-color;
    font-size: ($font-size-title * 2) + 10px;
    line-height: 210px;
    font-weight: 700;
    text-align: left;
  }

  .first-section {
    margin-top: -95px;

    .card-section {
      background-image: url("/images/vacancies/rectangle.svg");
      background-repeat: repeat-y;
      margin-top: -35px;
      width: 115%;
      max-width: 1220px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: -15px;
      width: 1300px;
      top: -40px;
      margin-left: -12px;
      position: relative;
    }

    .shadow-card {
      box-shadow: -6px 5px 30px -10px rgba(0, 0, 0, 0.15);
      width: 356px;
      height: 300px;
      margin: 0 68px 7rem 0;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 356px;
      height: 300px;
      position: relative;
      clip-path: polygon(0% 0%, calc(100% - 40px) 0%, 100% 40px, 100% 100%, 0% 100%);
      -webkit-filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.15));
      filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.15));

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-style: solid;
        border-width: 0 40px 40px 0;
        border-color: transparent transparent $subtext-color transparent;
      }
    }

    .developer,
    .status-block {
      width: 240px;
      margin: 0 auto;
    }

    .developer {
      min-height: 135px;
      display: flex;
      align-items: center;
      color: $black;
      padding-top: 40px;
      font-size: $font-size-big + 4px;
      font-weight: 700;
      text-align: left;
    }

    .status-block {
      padding-bottom: 66px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .status {
      color: $black;
      font-size: $font-size-base;
      font-weight: 700;
      text-align: left;
    }

    .link {
      border-radius: 50%;
      background-color: $green-tint;
      box-shadow: 0 5px 20px 0 rgba(0, 225, 164, 0.4);
      width: 50px;
      height: 50px;

      span {
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
      }
    }
  }

  .second-section {
    .shadow {
      top: -22.5rem;
      left: -150px;
    }

    .image-with-text {
      display: flex;
      margin-top: -19px;

    }

    .line {
      border: 0;
      background-color: $subtext-lite;
      width: 571px;
      height: 7px;
      margin: 0;
    }

    .text {
      bottom: 5px;
      position: relative;
      writing-mode: vertical-rl;
      text-align: start;
      transform: rotate(180deg);

      .name {
        color: $black;
        margin: 0;
        font-size: $font-size-big;
        font-weight: 400;
        line-height: 24px;
      }

      .position {
        color: $grey;
        margin: 0;
        font-size: $font-size-big;
        font-weight: 400;
        line-height: 24px;
      }
    }

    .img {
      z-index: 3;
    }

    .block {
      height: 40rem;
    }

    .subtext {
      position: relative;
      font-size: $font-size-title + 41px;
      z-index: 2;
      margin-left: -1.8rem;
      margin-top: 11rem;
    }

    .white-block {
      border: 2px solid $black;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
      width: 572px;
      min-height: 339px;
      margin-top: -4rem;
      margin-left: -10rem;
      z-index: 4;
      position: relative;

      .info {
        color: $black;
        font-size: $font-size-big;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
      }

      .info-block {
        padding: 49px 49px 0 49px;
      }

      .number {
        margin-top: 46px;
        align-items: center;
        display: flex;
        color: $black;
        font-size: $font-size-big + 4px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;

        .number-line {
          background-color: $black;
          width: 49px;
          height: 3px;
          margin: 0;
        }

        p {
          margin: 0 0 0 20px;
        }
      }
    }
  }

  .third-section {
    margin-top: 10px;
    min-height: 755px;

    .subtext {
      z-index: 3;
      font-size: 240.82px;
      margin-left: 13.2rem;
      top: 19rem;
    }

    .image-logo {
      z-index: 2;
      position: relative;
      top: inherit;
      margin-top: -31.5rem;
      left: -5rem;
    }

    .dote {
      z-index: 1;
      position: relative;
      margin-top: -33rem;
      left: 25.5rem;

    }

    .image {
      top: -9.5rem;
      left: 3rem;
    }

    .text-block,
    .image {
      position: relative;
      z-index: 4;
    }

    .text-block {
      margin-top: -25rem;
      left: 16.5rem;

      .title {
        color: $black;
        font-size: 39.94px;
        line-height: 34px;
        font-weight: 700;
        text-align: left;
        transform: scaleX(1.002);
      }

      .subtitle {
        color: $black;
        font-size: $font-size-big;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        transform: scaleX(1.002);
        width: 547px;
        margin: 49px 0 46px;
      }

      .button {
        width: 215px;
        height: 50px;
        box-shadow: 0 5px 20px 0 rgba(0, 225, 164, 0.4);
      }
    }
  }
}
