@import "../mixins";
@import "../variables";

.content-parallax-1 {
  position: relative;
  margin-top: -1135px;
  height: 950px;

  @include breakpoint($screen-tab) {
    margin-top: -700px;
    height: 750px;
  }
  @include breakpoint($screen-sm) {
    margin-top: -300px;
    height: 500px;
  }
}

.content-parallax-2 {
  position: relative;
  height: 550px;
  margin-top: -100px;

  .card-style {
    font: {
      size: $font-size-big;
      weight: 500;
    }

    .text {
      font: {
        size:  $font-size-base;
        weight: 400;
      }
    }

    .name {
      margin-top: 10px;
    }

    .job {
      color: $grey;
      font: {
        size: 20px;
        weight: 400;
      }
    }

  }
  .send-cv-position {
    display: inline-block;
    position: relative;
    margin: {
      top: 120px;
      left: 400px;
    }
    @include breakpoint($screen-tab) {
      margin-left: 0;
    }
  }

  .card {
    margin-top: 0 !important;
  }

  .vertical-box {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    width: 390px;
    margin: -350px -30px 0 0;

    @include breakpoint($screen-tab) {
      margin-top: -50px;
      margin-bottom: 50px;
      width: 261px;
    }

    .slidesjs-container{
      height: 660px !important;
      @include breakpoint($screen-tab) {
        height: 510px !important;
      }
    }

    .slide-num {
      font-size: $font-size-base;
      margin: 0 0 15px 0;
    }
    .slidesjs-navigation {
      padding: 5px;
      display: inline-block;
      margin: 15px 0 15px 20px;
    }
  }

  .horizontal-box {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    position: absolute;
    width: 572px;

    @include breakpoint($screen-tab) {
      width: 261px;
      height: 680px;
      .slidesjs-container{
        height: 650px !important;
      }
    }


    .card-image {
      float: left;
      @include breakpoint($screen-tab) {
        float: none;
      }
    }
    img {
      max-width: none !important;
    }

    .slide-num {
      font-size: $font-size-base;
      margin: 0 0 15px 0;
    }

    .slidesjs-navigation {
      padding: 5px;
      display: inline-block;
      margin: 15px 0 0 0;
    }

    .card-content-1 {
      margin-left: 290px;
      @include breakpoint($screen-tab){
        margin-left: 0;
      }
    }

  }
}

.content-parallax-3 {
  margin-top: 700px;

  .why-freshcode {
    position: relative;

    &:before {
      content: ' ';
      background: {
        image: url("/images/Paterns/01_patern.jpg");
        repeat: repeat;
        position: 50% 0;
      }
      display: block;
      position: relative;
      margin-top: -200px;
      width: 100%;
      height: 500px;
      z-index: -20;
      opacity: 0.2;
    }

    .why-freshcode-slides {
      position: relative;
      background-color: $green;
      height: 400px;
      margin: {
        top: -350px;
        left: 150px;
      }
    ;
    }

    &:after {
      content: ' ';
      display: block;
      background-color: $grey-light;
      position: relative;
      margin-left: 150px;
      height: 50px;
      width: calc(100% - 150px);
    }

  }

}

.content-parallax-4 {

  .vac-description {
    position: relative;
    img {
      float: left;
      margin: 0 25px;
    }

    h3 {
      display: inline-block;
      font: {
        size: 40px;
        weight: 700;
      }
      margin: 25px 0;
    }

    span {
      display: inline-block;
      font: {
        size: $font-size-big + 2px;
        weight: 400;
      }
    }
  }

  .all-vacancy-position {
    margin: 10px 0 0 250px;
  }

  .vacancy-img {
    position: relative;

    &:before {
      content: '';
      background: {
        image: url("/images/Paterns/02_patern.jpg");
        repeat: repeat;
      }
    ;
      display: block;
      position: relative;
      height: 450px;
      opacity: 0.2;
      margin: -150px 0 0 270px;
      width: calc(100% - 270px);
      z-index: -100;
    }

  }

  .vacancy-img-text {
    margin: -300px 0 0 270px;
    position: relative;
    z-index: -10;

    img {
      height: auto;
      width: 108%;
    }
  }

  .vacancy-img-lines {
    margin: -140px 0 -5px 0;
    position: relative;
  }

}
