@import "../mixins";
@import "../variables";

.quotes {
  position: relative;
  margin: 0 0 100px -50px;
  width: 100px;

  @include breakpoint($screen-tab) {
    margin-top: 20px;
  }
}

.quotes-2 {
  position: relative;
  margin: 622px -70px 0 0;
  width: 100px;
  z-index: 1000;
}
