@import "../mixins";
@import "../variables";

.quotes {
  position: relative;
  margin: 0 0 100px -50px;
  width: 100px;

  @include breakpoint($screen-default) {
    margin: 30px 0 100px -13px;
    img{
      height: auto;
      width: 35%;
    }
  }
}

.quotes-2 {
  position: relative;
  margin: 622px -70px 0 0;
  width: 100px;
  z-index: 700;

  @include breakpoint($screen-default){
    position: absolute;
    float: none !important;
    margin: 1609px 0 0 230px;
    img{
      height: auto;
      width: 35%;
    }
  }
}

.rv-quotes{
  margin: 0 0 -37px -45px;
  z-index: 1000;
  @include breakpoint($screen-default){
    float: right;
    margin: -1240px 225px 0 0;
    img{
      height: auto;
      width: 50px;
    }
  }
}
.rv-quotes-2{
  float: right;
  margin: -245px -45px 0 0;
  @include breakpoint($screen-default){
    float: none;
    position: absolute;
    margin: -35px 0 0 225px;
    img{
      height: auto;
      width: 50px;
    }
  }
}
