@import "../mixins";
@import "../variables";

.quotes {
  position: relative;
  margin: 0 0 100px -50px;
  width: 100px;

  @include breakpoint($screen-menu-desktop + 200) {
    margin: 50px 0 100px -15px;
  }
  @include breakpoint($screen-sm + 100) {
    margin: 30px 0 100px -20px;
    img{
      height: auto;
      width: 50%;
    }
  }
  @include breakpoint($screen-iphone-sm) {
    margin: 30px 0 100px -13px;
    img{
      height: auto;
      width: 35%;
    }
  }
}

.quotes-2 {
  position: relative;
  margin: 622px -70px 0 0;
  width: 100px;
  z-index: 1000;

  @include breakpoint($screen-sm + 100) {
    position: absolute;
    float: none !important;
    margin: 1650px 0 0 253px;
    img{
      height: auto;
      width: 50%;
    }
  }
  @include breakpoint($screen-ipad){
    margin: 770px 0 0 675px;
  }
  @include breakpoint($screen-nexus){
    margin: 1490px 0 0 280px;
  }
  @include breakpoint($screen-iphone-plus){
    margin: 1660px 0 0 250px;
  }
  @include breakpoint($screen-iphone-sm){
    margin: 1630px 0 0 230px;
    img{
      height: auto;
      width: 35%;
    }
  }

}
