<div class="content-parallax-2">
    <section class="description" data-0="top: 0px" data-1000="top: -100px">
        <h3>{{ site.data.main.sections.team.title }}</h3>
        <span>{{ site.data.main.sections.team.text }}</span>
    </section>


    <a href="#CVForm" class="button send-cv-position" data-0="top: 0px" data-100="top: -50px">Отправить резюме</a>


    <div class="quotes" data-500="top: 0px" data-1000="top: -100px">
        <img src={{ site.data.links.images.quotes-2 }} />
    </div>

    <div class="team-img" data-0="top: 0px" data-1000="top: 200px">
        <img src={{ site.data.links.images.team }} />
    </div>


    <section id="slides-vertical" class="vertical-box float-right" data-0="margin-top: 0px" data-1200="margin-top: -850px">
        {% for c in site.data.main.vertical-cards %}
        <div class="card">
            <div class="card-image">
                <img src={{ c.img }}>
            </div>

            <div class="card-style card-content">
                <p class="slide-num"><span class="slider-number-vertical"></span> /
                    <span class="all-vertical-num"></span>
                </p>
                <p class="text">{{ c.text }}</p>
                <p class="name">{{ c.name }},</p>
                <p class="job">{{ c.job }}</p>
            </div>
        </div>
        {% endfor %}
        <a href="#" class="slidesjs-previous slidesjs-navigation"><img src={{ site.data.links.images.left-arrow }} /></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><img src={{ site.data.links.images.right-arrow }} /></a>
    </section>


    <section id="slides-horizontal" class="horizontal-box" data-0="margin-top: 0px" data-1000="margin-top: -50px">
        {% for c in site.data.main.horizontal-cards %}
        <div class="card horizontal">
            <div class="card-image">
                <img src={{ c.img }}>
            </div>
            <div class="card-style card-content">
                <p class="slide-num"><span class="slider-number-horizontal"></span> /
                    <span class="all-horizontal-num"></span>
                </p>
                <p class="text">{{ c.text }}</p>
                <p class="name">{{ c.name }},</p>
                <p class="job">{{ c.job }}</p>

                <a href="#" class="slidesjs-previous slidesjs-navigation"><img src={{ site.data.links.images.left-arrow }} /></a>
                <a href="#" class="slidesjs-next slidesjs-navigation" style="margin-left: 20px;" ><img src={{ site.data.links.images.right-arrow }} /></a>
            </div>

        </div>
        {% endfor %}
    </section>


    <div class="quotes-2 float-right" data-0="top: 100px" data-1300="top: -210px">
        <img src={{ site.data.links.images.quotes-1 }}  />
    </div>
</div>