<div class="content-parallax-4">
    <div data-0="top: -350px" data-2500="top: 0px" style="position: relative; z-index: 200;">
        <section class="vac-description" >
            <img src={{ site.data.links.images.eye }}>
            <h3>{{ site.data.main.sections.vacancies.title }}</h3>
            <span>{{ site.data.main.sections.vacancies.text }}</span>
        </section>
        <br>
        <a href="" class="button all-vacancy-position">Смотреть все вакансии</a>
    </div>
    <div class="vacancy-img" data-0="top: 50px" data-2500="top: 0px"></div>
    <div class="vacancy-img-text" data-0="top: 500px" data-2500="top: -50px"><img src="/images/vac.png" /></div>
    <div class="vacancy-img-lines"><img src="/images/triangle.png" /></div>
</div>