<div class="content-parallax-4">
    <div style="position: relative; z-index: 200;">
        <section class="vac-description">
            <img src="{{ site.data.links.images.eye }}">
            <h3>{{ site.data.main.sections.vacancies.title }}</h3>
            <span>{{ site.data.main.sections.vacancies.text }}</span>
        </section>
        <br>
        <a href="" class="button all-vacancy-position">Смотреть все вакансии</a>
    </div>
    <div class="vacancy-img"></div>
    <div class="vacancy-img-text"><img src="/images/vac.png" /></div>
    <div class="lines-bg"><div class="line-bg-tr"></div></div>
</div>