<div class="content-parallax-3">
    <section class="description" data-500="top: 0px" data-2500="top: -150px">
        <h3>{{ site.data.main.sections.why.title }}</h3>
        <span>{{ site.data.main.sections.why.text }}</span>
    </section>

    <section class="why-freshcode" data-1000="top: 0px" data-2500="top: -250px">
        <div class="why-freshcode-slides">
            <div>
                <a href="#" class="slidesjs-previous slidesjs-navigation"><img src={{ site.data.links.images.left-arrow }} /></a>
                <a href="#" class="slidesjs-next slidesjs-navigation" style="margin-left: 20px;" ><img src={{ site.data.links.images.right-arrow }} /></a>
            </div>

            <div class="slider-top">
                {% include main/slider.html %}
            </div>

        </div>
    </section>
</div>