<div class="content-parallax-3">
    <section class="description" data-500="top: 0px" data-2500="top: -150px">
        <h3>{{ site.data.main.sections.why.title }}</h3>
        <span>{{ site.data.main.sections.why.text }}</span>
    </section>

    <section class="why-freshcode" data-1000="top: 0px" data-2500="top: -250px">
        <div class="why-lines"></div>
        <div class="why-freshcode-slides">
            <div class="slider-top">
                {% include main/slider.html %}
            </div>
        </div>

    </section>
</div>