html, body {
  height: 100%;
  width: 100%; }
body { font-family: "Roboto", sans-serif; }

.overflow {
  overflow-x: hidden;
}

.float-right{
  float: right;
}

.vertical-middle{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-center{
  text-align: center;
}

.line {
  background-color: black;
  margin: 29px 0 0;
  height: 7px;
  width: 482px;
}

.opacity{
  opacity: 0.8;
}

.container{
  //overflow: hidden;
  max-width: 1170px;
  width: 100%;
}