// =============================================================================
// Colors (Base)
// =============================================================================
$white: #fff;
$black: #000;
$green: #00e1a4;
$green-tint: #00da9f;
$grey: #c3c3c3;
$grey-light: #f8f8f8;

// =============================================================================
// Typography
// =============================================================================
$font-size-base: 16px;
$font-size-title: 100px;
$font-size-big: 20px;

// =============================================================================
// Breakpoints
// =============================================================================
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
