// =============================================================================
// Colors (Base)
// =============================================================================
$white: #fff !global; //scss_lint ;_;
$black: #000 !global; //scss_lint ;_;


// =============================================================================
// Breakpoints
// =============================================================================
$screen-sm: 768px !global !default;
$screen-sm-min: $screen-sm !global !default;
$screen-tablet: $screen-sm-min !global !default;
$screen-md: 992px !global !default;
$screen-md-min: $screen-md !global !default;
$screen-desktop: $screen-md-min !global !default;
$screen-lg: 1200px !global !default;
$screen-lg-min: $screen-lg !global !default;
$screen-lg-desktop: $screen-lg-min !global !default;
$screen-xs-max: ($screen-sm-min - 1) !global !default;
$screen-sm-max: ($screen-md-min - 1) !global !default;
$screen-md-max: ($screen-lg-min - 1) !global !default;
