
<footer>
    <div class="container">
        <div class="row">
            <div class="col s4 vertical-middle footer-col">© 2017 Freshcode.<br> All rights reserved.</div>
            <div class="col s4 vertical-middle footer-col">
                <ul>
                    <li>Zaporizhzhya, Ukraine</li>
                    <li>Skype: alex.freshcode, marina.freshcode</li>
                    <li>E-mail: alex@freshcodeit.com</li>
                </ul>
            </div>
            <div class="col s4 img-footer valign-wrapper">
                {% for s in site.data.links.footer.social %}
                <a href={{ s.lick }}><img src={{s.img}} /></a>
                {% endfor %}

            </div>
        </div>
    </div>
</footer>


<script src="/js/lib/jquery-3.2.1.min.js"></script>
<script src="/js/lib/materialize.min.js"></script>
<script src="/js/lib/skrollr.js"></script>
<script src="/js/lib/jquery.slides.min.js"></script>
<script src="/js/main.js"></script>
