<div class="site-header-slice__fixer">
    <div class="site-header-slice__background-2"></div>

    <nav class="navigation-bar is-visible" data-nav-status="toggle">
        <div class="container menu-content">
            <a href=""><img draggable="false" class="logo logo-d" src={{ site.data.links.images.menu-logo }} alt="Freshcode Logo"></a>

            <a href="#CVForm" class="button float-right">Отправить резюме</a>

            <ul class="main-nav-menu">
                {% assign p = page.url | replace:'/','' %}
                <li><a href="/" class="{% if p == '' %}active{% endif %}" >Главная</a></li>
                <li><a href="" class="{% if p == 'about' %}active{% endif %}" >О нас</a></li>
                <li><a href="/vacancies" class="{% if p == 'vacancies' %}active{% endif %}" >Вакансии</a></li>
                <li><a href="" class="{% if p == 'review' %}active{% endif %}" >Отзывы сотрудников</a></li>
                <li><a href="/contacts" class="{% if p == 'contacts' %}active{% endif %}" >Контакты</a></li>
            </ul>
        </div>
    </nav>

    {% include modal.html %}

</div>
