<div class="third-section">
  <div class="subtext">{{site.data.vacancies.third_section.subtext}}</div>
  <div class="image">
    <img src={{site.data.links.vacancies_img.vector}} alt="Vector">
  </div>
  <div class="image-logo">
    <img src={{site.data.links.vacancies_img.fresh}} alt="Logo">
  </div>
  <div class="dote">
    <img src={{site.data.links.vacancies_img.dote_big}} alt="Dotes">
  </div>
  <div class="text-block">
    <div class="title">{{site.data.vacancies.third_section.title}}</div>
    <div class="subtitle">{{site.data.vacancies.third_section.subtitle}}</div>
    <div class="button">{{site.data.vacancies.third_section.button}}</div>
  </div>
</div>