<div class="last-section">
  <div class="white-block troianova-block">
    <div class="text transition-animation">
      <div class="title">{{site.data.about.six_section.title}}</div>
      <a class="button" href="/vacancy">{{site.data.about.six_section.button}}</a>
    </div>
    <img src={{site.data.links.about_img.troyanova}}  alt="Troyanova">
  </div>
  <div class="medium-rectangle"></div>
  <div class="lines-bg about-triangle transition-animation"><div class="line-bg-tr"></div></div>
</div>