@import "../mixins";
@import "../variables";

.about {
  margin-top: 95px;

  .base-section {
    position: relative;

    .title {
      margin-top: 128px;
    }

    .line {
      width: 259px;
    }

    .subtitle {
      width: 503px;
    }

    .dotes {
      position: absolute;
      top: 0;

      img {
        width: 535px;
      }
    }

    .logo {
      position: absolute;
      top: -13rem;
      left: 18.5rem;

      img {
        width: 655px;
      }
    }

    .block-image {
      .dote {
        z-index: 0;
        width: 934px;
        bottom: -117px;
        left: -215px;
        height: 581px;
        background-image: url("/images/Paterns/01_patern.jpg");
      }
    }
  }

  .intro {
    font-size: $font-size-big;
    font-weight: 400;
    line-height: 26px;
    transform: scaleX(1.002);
  }

  .first-section {
    height: 38rem;
    position: relative;
    top: -24.4rem;
    left: -3rem;

    .line-vertical {
      background-color: $grey;
      width: 7px;
      height: 76px;
      margin: 0;
      border: 0;
      position: relative;
      bottom: -82px;
      left: -2rem;
    }

    .left-text {
      color: $black;
      font-size: $font-size-big * 2;
      line-height: 46px;
      font-weight: 700;
      width: 285px;
      text-align: left;
    }

    .subtext {
      font-size: 239.63px;
      position: relative;
      top: -28rem;
    }

    .absolute-img {
      position: absolute;
    }

    .top {
      left: 20rem;
      z-index: 2;
      top: 6rem;
    }

    .bottom {
      left: 21.2rem;
      z-index: 2;
      bottom: -14rem;
    }

    .right-text {
      position: relative;
      z-index: 2;
      left: 22.2rem;
      top: 43px;

      p {
        color: $black;
        font-size: 39.94px;
        line-height: 30px;
        font-weight: 700;
        text-align: left;
        transform: scaleX(1.002);
      }

      .about {
        margin-top: 40px;
        margin-bottom: 47px;
        color: $black;
        font-size: 19.97px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        transform: scaleX(1.002);
        width: 495px;
      }

      .next {
        margin-top: 215px;
        color: $black;
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        left: -31px;
        position: relative;
      }

      .button {
        box-shadow: 0 5px 20px 0 rgba(0, 225, 164, 0.4);
      }
    }
  }

  .second-section {
    margin-top: -2rem;
    position: relative;

    .single-block {
      width: 380px;
      height: 321px;
      border: 2px solid $black;
      border-right: 0;
      position: relative;

      &:last-child {
        border-right: 2px solid $black;
      }

      .text-block {
        padding: 59px 58px;
      }

      .mark {
        border-radius: 50%;
        background-color: $black;
        color: $white;
        width: 50px;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -25px;
        left: -25px;
      }

      .step {
        color: $black;
        font-size: 16px;
        margin-bottom: 36px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
      }

      .about-step {
        color: $black;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
      }
    }

    .block {
      display: flex;
      height: 321px;
      margin-left: 30px;
      max-width: 1140px;
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    }

    .reverse,
    img {
      position: absolute;
    }

    .reverse {
      width: 284px;
      height: 142px;
      right: 285px;
      background-color: $shadow;
      top: -142px;
    }

    img {
      right: 0;
      top: -242px;
    }
  }

  .third-section {
    margin-top: 148px;

    .slider-top {
      top: -27rem;
      float: right;
      margin-right: 29px;
      position: relative;
    }

    .text-block-description {
      height: 577px;
    }

    .why-text {
      color: $black;
      font-size: 40px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 40px;
    }

    .why-about {
      color: $black;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      width: 558px;
    }

    .card {
      box-shadow: 0;
    }

    .bckg-line {
      position: relative;
      z-index: -1;
      top: -160px;
      width: 1141px;
      height: 532px;
    }

    .line-rectangle {
      background-color: #f9f9f9;
      width: 998px;
      height: 51px;
      margin-top: 59px;
      margin-left: 143px;
    }
  }

  .target-section {
    height: 445px;
    position: relative;
    top: -68px;

    .absolute {
      position: absolute;
      top: 0;
      right: 29px;
    }

    .target {
      display: flex;
      margin-left: 35px;
      position: absolute;
      top: 133px;
      z-index: 2;

      .target-img {
        margin-right: 68px;
      }

      .title {
        color: $black;
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        line-height: 40px;
        margin-bottom: 49px;
      }

      .subtitle {
        color: $black;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        width: 568px;
      }

    }

    .dots-rectangle {
      width: 857px;
      height: 401px;
    }

    .small-rectangle {
      background-color: $shadow;
      width: 249px;
      height: 188px;
      position: absolute;
      bottom: 0;
    }

    .subtext {
      bottom: 0;
      right: -25px;
      position: absolute;
      font-size: 266.49px;
      line-height: 182px;
    }
  }

  .progress-section {
    position: relative;
    height: 369px;
    margin-top: 80px;

    .top {
      background-color: $subtext-lite;
      width: 572px;
      height: 7px;
      margin-left: 19.3rem;
      border: 0;
    }

    .bottom {
      background-color: $subtext-lite;
      width: 287px;
      height: 7px;
      margin-left: 19.3rem;
      border: 0;
      position: absolute;
      bottom: 0;
    }

    .background {
      display: flex;
      position: absolute;
      top: 0;
      z-index: -1;
      right: 23px;
    }

    .small-rectangle {
      background-color: $shadow;
      width: 286px;
      height: 355px;
    }

    .dote-rectangle {
      width: 286px;
      height: 356px;
    }

    .line-rectangle {
      width: 285px;
      height: 357px;
    }

    .block {
      .title {
        color: $black;
        font-size: 40px; /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        text-align: left;
      }

      .subtitle {
        color: $black;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        width: 305px;
      }
    }

    .progress-img {
      position: absolute;
      top: 110px;
      right: -30px;
      background-color: $green;
      width: 858px;
      height: 155px;
      display: flex;
      justify-content: center;
      align-items: center;

      .image-cycle {
        width: 287px;
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(2) {
          width: 270px;
        }

        &:last-child {
          .white-dote {
            display: none;
          }
        }
      }
    }

    .white-dote {
      margin: 0;
      height: 100%;
    }

    .before,
    .after {
      position: absolute;
      background-color: $white;
      width: 7px;
      height: 10px;
      border: 0;
      margin: 0;
      right: -7px;
    }

    .before {
      top: 0;
    }

    .after {
      bottom: 0;
    }
  }

  .last-section {
    position: relative;
    background-color: transparent;
    margin-top: 170px;
    margin-bottom: 70px;
    align-items: center;
    display: flex;
    justify-content: center;

    .absolute {
      position: absolute;
      z-index: -1;
      left: 0;
      top: -160px;
    }

    .medium-rectangle {
      position: absolute;
      z-index: -2;
      background-color: $shadow;
      width: 286px;
      height: 581px;
      top: -274px;
      right: 23px;
    }

    .white-block {
      box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
      width: 857px;
      height: 425px;
      margin-right: 10px;
      right: 0;
      position: relative;
      background-color: $white;

      img {
        position: absolute;
        right: 0;
        top: -85px;
      }
    }

    .text {
      width: 430px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title {
      color: $black;
      font-size: 40px;
      width: 285px;
      font-weight: 700;
      margin-bottom: 50px;
      text-align: center;
    }
  }
}
