@import "../mixins";
@import "../variables";

.main-title {
  width: 100%;

  h3 {
    text-transform: uppercase;
    font: {
      size: 100px;
      weight: 300;
    }

    @include breakpoint($screen-menu-desktop - 100) {
      font-size: 80px;
    }

    @include breakpoint($screen-sm) {
      font-size: 50px;
    }
  }

  span {
    font: {
      size: $font-size-big;
      weight: 400;
    }

    @include breakpoint($screen-sm) {
      margin: 0 auto;
      width: 250px;
    }

  }
}

.main-img {
  position: relative;
  img {
    height: auto;
    width: 105%;

    @include breakpoint($screen-nexus){
      width: 103%;
    }
    @include breakpoint($screen-iphone-plus){
      float: none !important;
      margin: 0 0 0 -35px;
      width: 140%;
    }
    @include breakpoint($screen-iphone-sm){
      margin: 0 0 0 -25px;
    }

  }
}

.team-img {
  position: absolute;
  margin: -130px 0 0 -70px;
  z-index: -1;

  @include breakpoint($screen-menu-desktop + 200){
    margin: -130px 0 0 -5px;
  }
  @include breakpoint($screen-nexus){
    margin: -155px 0 0 -5px;
  }
  @include breakpoint($screen-iphone-sm){
    margin: -125px 0 0 -5px;
  }

  img {
    height: auto;
    width: 100%;

    @include breakpoint($screen-menu-desktop + 200){
      width: 115%;
    }
    @include breakpoint($screen-ipad){
      width: 80%;
    }
    @include breakpoint($screen-nexus){
      width: 100%;
    }

  }
}

.description {
  position: absolute;
  margin: {
    top: -100px;
  }
  width: 620px;

  @include breakpoint($screen-sm) {
    width: 90%;
  }
  @include breakpoint($screen-iphone) {
    width: 100%;
  }

  h3 {
    font: {
      size:  $font-size-big * 2;
      weight: 700;
    }
    margin-bottom: 50px;

    @include breakpoint($screen-sm) {
      font-size:  $font-size-big * 1.5;
      width: 100%;
    }
  }

  span {
    display: inline-block;
    margin-top: -20px;
    font: {
      size: $font-size-big + 2px;
      weight: 400;
    }

    @include breakpoint($screen-iphone) {
      font-size: $font-size-base * 1.3;
    }

  }

}
