@import "../mixins";
@import "../variables";

.main-title {
  width: 100%;

  h3 {
    text-transform: uppercase;
    font: {
      size: 100px;
      weight: 300;
    }

    @include breakpoint($screen-menu-desktop - 100) {
      font-size: 80px;
    }

    @include breakpoint($screen-sm) {
      font-size: 50px;
    }
  }

  span {
    font: {
      size: $font-size-big;
      weight: 400;
    }

    @include breakpoint($screen-sm) {
      margin: 0 auto;
      width: 250px;
    }

  }
}

.main-img {
  position: relative;
  img {
    height: auto;
    width: 105%;

    @include breakpoint($screen-nexus){
      width: 103%;
    }
    @include breakpoint($screen-iphone-plus){
      float: none !important;
      margin: 0 0 0 -35px;
      width: 140%;
    }
    @include breakpoint($screen-iphone-sm){
      margin: 0 0 0 -25px;
    }

  }
}

.team-img {
  position: absolute;
  margin: -130px 0 0 -70px;
  z-index: -1;

  @include breakpoint($screen-menu-desktop + 200){
    margin: -130px 0 0 -5px;
  }
  @include breakpoint($screen-nexus){
    margin: -155px 0 0 -5px;
  }
  @include breakpoint($screen-iphone-sm){
    margin: -125px 0 0 -5px;
  }

  img {
    height: auto;
    width: 100%;

    @include breakpoint($screen-menu-desktop + 200){
      width: 115%;
    }
    @include breakpoint($screen-ipad){
      width: 80%;
    }
    @include breakpoint($screen-nexus){
      width: 100%;
    }

  }
}

.description {
  position: absolute;
  margin: {
    top: -100px;
  }
  width: 620px;

  @include breakpoint($screen-sm) {
    width: 90%;
  }
  @include breakpoint($screen-iphone) {
    width: 100%;
  }

  h3 {
    font: {
      size:  $font-size-big * 2;
      weight: 700;
    }
    margin-bottom: 50px;

    @include breakpoint($screen-sm) {
      font-size:  $font-size-big * 1.5;
      width: 100%;
    }
  }

  span {
    display: inline-block;
    margin-top: -20px;
    font: {
      size: $font-size-big + 2px;
      weight: 400;
    }

    @include breakpoint($screen-iphone) {
      font-size: $font-size-base * 1.3;
    }

  }

}

.content-parallax-1 {
  position: relative;
  margin-top: -97%;
  height: 950px;

  @include breakpoint($screen-menu-desktop - 200) {
    margin-top: -90%;
    height: 550px;
  }
  @include breakpoint($screen-iphone-plus){
    margin-top: -135%;
    height: 550px;
  }

}

.content-parallax-2 {
  position: relative;
  height: 550px;
  margin-top: -100px;
  width: 100%;

  @include breakpoint($screen-ipad) {
    margin-top: 0;
  }
  @include breakpoint($screen-nexus){
    margin-top: -20px;
  }

  .card-style {
    font: {
      size: $font-size-big;
      weight: 500;
    }

    .text {
      font: {
        size:  $font-size-base;
        weight: 400;
      }
    }

    .name {
      margin-top: 10px;
    }

    .job {
      color: $grey;
      font: {
        size: 20px;
        weight: 400;
      }
    }

  }
  .send-cv-position {
    display: inline-block;
    position: relative;
    margin: {
      top: 120px;
      left: 400px;
    }
    @include breakpoint($screen-lg) {
      margin: {
        top: 80px;
        left: 0;
      }
    }
    @include breakpoint($screen-ipad) {
      margin-top: 180px;
    }
    @include breakpoint($screen-iphone-plus) {
      margin-top: 300px;
    }
    @include breakpoint($screen-iphone-sm) {
      margin-top: 330px;
    }
  }

  .card {
    margin-top: 0 !important;
  }

  .vertical-box {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    width: 393px;
    margin: -350px -30px 0 0;

    @include breakpoint($screen-lg) {
      width: 353px;
    }
    @include breakpoint($screen-md) {
      margin: -50px 0 50px 0;
      width: 281px;
    }
    @include breakpoint($screen-ipad){
      margin: -150px 0 50px 0;
      width: 301px;
    }
    @include breakpoint($screen-nexus){
      margin: -100px 0 50px 0;
      width: 321px;
    }
    @include breakpoint($screen-iphone-plus) {
      width: 281px;
    }
    @include breakpoint($screen-iphone-sm) {
      margin-top: -70px;
      width: 251px;
    }

    .card-style{
      height: 230px;

      @include breakpoint($screen-md) {
        height: 250px;
      }
      @include breakpoint($screen-iphone-sm) {
        height: 280px;
      }
    }

    .slidesjs-container{
      height: 660px !important;
      @include breakpoint($screen-lg) {
        height: 620px !important;
      }
      @include breakpoint($screen-md) {
        height: 530px !important;
      }
    }

    .slide-num {
      font-size: $font-size-base;
      margin: 0 0 15px 0;
    }
    .slidesjs-navigation {
      padding: 5px;
      display: inline-block;
      margin: 15px 0 15px 25px;
    }
  }

  .horizontal-box {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    position: absolute;
    width: 585px;
    .slidesjs-container{
      height: 370px !important;
    }
    @include breakpoint($screen-lg) {
      width: 545px;
    }
    @include breakpoint($screen-md) {
      width: 281px;
      height: 670px;
      .slidesjs-container{
        height: 670px !important;
      }
    }
    @include breakpoint($screen-ipad){
      width: 311px;
      margin-top: -20px;
    }
    @include breakpoint($screen-nexus){
      margin-top: 450px;
    }
    @include breakpoint($screen-iphone-plus) {
      margin-top: 500px;
      width: 281px;
    }
    @include breakpoint($screen-iphone-sm) {
      height: 615px;
      width: 251px;

      .card-content{
        padding: 15px;
      }
    }


    .card-image {
      float: left;
      @include breakpoint($screen-md) {
        float: none;
      }
    }
    img {
      max-width: none !important;
    }

    .slide-num {
      font-size: $font-size-base;
      margin: 0 0 15px 0;
    }

    .slidesjs-navigation {
      position: absolute;
      padding: 5px;
      display: inline-block;
      margin: -70px 0 0 310px;
      z-index: 100;
    }

    .card-content-1 {
      margin-left: 290px;
      @include breakpoint($screen-md){
        margin-left: 0;
      }
    }

  }

  .video-team{
    z-index: 1000;

    .grey-block{
      display: block;
      background-color: $grey-light;
      position: relative;
      margin-left: 25%;
      margin-top: -85px;
      height: 490px;
      width: 75%;
      z-index: -10;

      @include breakpoint($screen-ipad){
        margin-top: -105px;
      }
      @include breakpoint($screen-nexus){
        margin-top: -65px;
        margin-left: 0;
        height: 400px;
      }
      @include breakpoint($screen-iphone-sm){
        margin-top: -76px;
      }

    }

    .dot-block{
      background: {
        image: url("/images/Paterns/02_patern.jpg");
        repeat: repeat;
      };
      display: block;
      position: relative;
      height: 510px;
      opacity: 0.2;
      margin: -390px 0 0 285px;
      width: calc(100% - 285px);
    }

    .video-text{
      color: $subtext-color;
      font-size: $font-size-title + 100px;
      float: right;
      line-height: 150px;
      font-weight: 700;
      margin-right: -225px;
      margin-top: -330px;
      z-index: 10;
    }
    .text-rotation{
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    .play-video{
      position: relative;
      margin-top: -450px;
      height: 550px;
      width: 95%;

      .video-block{
        position: absolute;
        margin-left: -25px;
        img{
          height: auto;
          width: 100%;
        }
      }

      .play-img{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        height: 550px;
        width: 85%;
        img{
          -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 5px 10px  rgba(0, 0, 0, 0.3));
          margin: 0 auto;
          height: auto;
          width: 10%;
        }
      }
    }

  }

}

.content-parallax-3 {
  margin-top: 700px;

  @include breakpoint($screen-ipad){
    margin-top: 900px;
  }
  @include breakpoint($screen-nexus){
    margin-top: 1350px;
  }
  @include breakpoint($screen-iphone-plus){
    margin-top: 1500px;
  }
  @include breakpoint($screen-iphone-sm){
    margin-top: 1450px;
  }
  .description {
    @include breakpoint($screen-iphone-sm) {
      width: 88%;
    }
  }

  .description{
    margin-top: -55px;
    @include breakpoint($screen-nexus){
      margin-top: -48px;
    }
  }

  .why-freshcode {
    position: relative;

    &:before {
      content: ' ';
      background: {
        image: url("/images/Paterns/01_patern.jpg");
        repeat: repeat;
        position: 50% 0;
      }
      display: block;
      position: relative;
      margin-top: -220px;
      width: 100%;
      height: 500px;
      z-index: -20;
      opacity: 0.2;
    }

    .why-freshcode-slides {
      position: relative;
      background-color: $green;
      height: 400px;
      margin: {
        top: -300px;
        left: 172px;
      };
      width: calc(100% - 172px);

      @include breakpoint($screen-lg){

      }
      @include breakpoint($screen-nexus){
        width: 100%;
        margin: {
          top: -250px;
          left: 0;
        };
        height: 965px;
      }
      @include breakpoint($screen-iphone-plus){
        margin: {
          top: -200px;
          left: 0;
        };
        width: 100%;
      }
      @include breakpoint($screen-iphone-sm){
        margin-top: -150px;
        height: 665px;
      }
    }

    &:after {
      content: ' ';
      display: block;
      background-color: $grey-light;
      position: relative;
      margin-left: 172px;
      height: 50px;
      width: calc(100% - 172px);
      @include breakpoint($screen-nexus) {
        margin-left: 0;
        width: 100%;
      }
    }

    .slider-top {
      top: -60px;
      float: right;
      position: relative;
      width: 100%;
    }
  }

}

.content-parallax-4 {
  margin-top: 150px;

  @include breakpoint($screen-nexus){
    margin-top: 100px;
  }

  .vac-description {
    position: relative;
    img {
      float: left;
      margin: 0 37px;

      @include breakpoint($screen-nexus){
        margin: 0;
      }

    }

    h3 {
      display: inline-block;
      font: {
        size: 40px;
        weight: 700;
      }
      margin: 25px 0;
    }

    span {
      display: inline-block;
      font: {
        size: $font-size-big + 2px;
        weight: 400;
      }
      @include breakpoint($screen-nexus){
        font-size: $font-size-big - 1px;
      }
    }
  }

  .all-vacancy-position {
    margin: 10px 0 0 250px;
    @include breakpoint($screen-nexus){
      margin: 0 0 0 0;
    }
  }

  .vacancy-img {
    position: relative;

    &:before {
      content: '';
      background: {
        image: url("/images/Paterns/02_patern.jpg");
        repeat: repeat;
      };
      display: block;
      position: relative;
      height: 343px;
      opacity: 0.2;
      margin: -185px 0 0 290px;
      width: calc(100% - 290px);
      z-index: -100;

      @include breakpoint($screen-ipad){
        float: none;
        margin: -235px 0 0 0;
        height: 210px;
        width: 100%;
      }
      @include breakpoint($screen-iphone-plus){
        margin: -310px 0 0 0;
        height: 300px;
      }
      @include breakpoint($screen-iphone){
        margin: -310px 0 0 0;
        height: 295px;
      }

    }

  }

  .vacancy-img-text {
    margin: -155px 0 0 290px;
    position: relative;
    z-index: -10;
    @include breakpoint($screen-ipad) {
      margin: -25px 0 0 -15px;
    }
    @include breakpoint($screen-iphone){
      margin: -20px 0 0 -15px;
    }
    @include breakpoint($screen-iphone-sm){
      margin: -15px 0 0 -15px;
    }

    img {
      height: auto;
      width: 108%;
      @include breakpoint($screen-ipad) {
        width: 110%;
      }
      @include breakpoint($screen-iphone-sm){
        width: 105%;
      }

    }
  }

  .lines-bg {
    background: {
      image: url("/images/Paterns/01_patern.jpg");
      repeat: repeat;
      position: 50% 0;
    }
    display: block;
    position: relative;
    margin-top: -295px;
    width: 50%;
    height: 550px;
    z-index: -20;
    opacity: 0.2;

    @include breakpoint($screen-ipad){
      margin: -120px 0 0 0;
      width: 80%;
      height: calc(100vw - 250px);
    }
    @include breakpoint($screen-nexus) {
      margin: -70px 0 0 0;

      width: 100%;
      height: calc(100vw - 200px);
    }

    .line-bg-tr {
      width: 0;
      height: 0;
      border-top: 650px solid $white;
      border-left: 650px solid transparent;
    }

  }

}


