@import "../mixins";
@import "../variables";
.review {
  display: block;

  .title-section {
    margin-top: -2131px;
    @include breakpoint($screen-lg) {
      margin-top: -2215px;
    }
    @include breakpoint($screen-ipad) {
      margin-top: -3564px;
    }
    @include breakpoint($screen-nexus - 120) {
      margin-top: -2980px;
    }

    .title {
      display: inline-block;
      margin: 255px 0 110px -28px;
      line-height: .9;
      font-family: $font-style-caption;
      font-size: $font-size-title - 4px;
      font-weight: 300;
      padding-top: 3px;
      height: 76px;
      text-transform: uppercase;
      width: 510px;

      @include breakpoint($screen-ipad){
        overflow: hidden;
      }
      @include breakpoint($screen-nexus - 120){
        font-size: $font-size-title - 50px;
        height: 40px;
        margin-left: -15px;
      }

    }

    .line {
      width: 670px;
      @include breakpoint($screen-ipad) {
        margin-top: -100px;
        width: 373px;
      }
      @include breakpoint($screen-nexus - 120){
        width: 195px;
      }
    }
  }

  .cards-review {
    @include breakpoint($screen-ipad) {
      margin-top: -370px;
    }
    @include breakpoint($screen-nexus - 120){
      margin-top: -570px;
    }
    @include breakpoint($screen-iphone-sm){
      margin-top: -583px;
    }

    margin-top: -450px;

    .card {
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
      width: 443px;
      z-index: -1;

      @include breakpoint($screen-lg){
        width: 400px;
      }
      @include breakpoint($screen-nexus - 120){
        width: 280px;
      }
      @include breakpoint($screen-iphone-sm){
        width: 245px;
      }
    }

    .card-style {
      font: {
        size: $font-size-big;
        weight: 500;
      }
      padding: 35px;
      @include breakpoint($screen-nexus - 120){
        padding: 20px;
      }

      .text {
        font: {
          size: $font-size-base;
          weight: 400;
        }
      }

      .name {
        margin-top: 10px;
      }

      .job {
        color: $grey;
        font: {
          size: 20px;
          weight: 400;
        }
      }
    }

    .krasnogor {
      float: right;
      margin-top: -160px;

      @include breakpoint($screen-lg){
        float: none;
        margin: 50px 0 0 0;
      }
      @include breakpoint($screen-ipad){
        margin-top: 700px;
      }


      .card-style{
        margin-top: -50px;
      }
      img {
        top: -60px;
      }
    }
    .troian{
      @include breakpoint($screen-lg){
        float: right;
        margin-top: -850px;
      }
      @include breakpoint($screen-ipad){
        margin-top: -1500px;
      }
      @include breakpoint($screen-nexus - 120){
        margin-top: -1220px;
      }
    }
    .logvinova{
      float: right;
      @include breakpoint($screen-lg){
        margin-top: -100px;
      }
      @include breakpoint($screen-ipad){
        margin-top: 50px;
      }
    }
    .gonchar {
      margin-top: 163px;

      @include breakpoint($screen-ipad){
        margin-top: 833px;
      }
      @include breakpoint($screen-nexus - 120){
        margin-top: 700px;
      }

      .card-style{
        margin-top: -70px;
        padding-top: 15px;
      }
      img {
        top: -68px;
        width: 107.5%
      }
    }
  }

  .send-cv {
    margin: 45px 0 350px 50%;

    @include breakpoint($screen-lg){
      margin: 115px 0 350px 50%;
    }
    @include breakpoint($screen-ipad){
      float: right;
      margin: 120px 0 100px 0;
    }

  }

  .triangle-grey {
    position: relative;
    margin-top: 95px;
    width: 0;
    height: 0;
    border-bottom: 370px solid $grey-light;
    border-right: 370px solid transparent;
    z-index: -10;
    @include breakpoint($screen-ipad){
      margin-top: 120px;
      border-bottom: 250px solid $grey-light;
      border-right: 250px solid transparent;
    }
    @include breakpoint($screen-nexus - 120){
      border-bottom: 200px solid $grey-light;
      border-right: 200px solid transparent;
    }
  }
  .lines-block {
    background: {
      image: url("/images/Paterns/01_patern.jpg");
      repeat: repeat;
      position: 50% 0;
    }
    display: inline-block;
    position: relative;
    margin: -150px 0 0 50%;
    width: 25%;
    height: 1800px;
    z-index: -20;
    opacity: 0.15;

    @include breakpoint($screen-lg){
      height: 1885px;
    }
    @include breakpoint($screen-ipad){
      margin-top: -200px;
      height: 3300px;
      width: 50%;
    }
    @include breakpoint($screen-nexus - 120){
      margin-top: -163px;
      height: 2720px;
      width: 50%;
    }

  }
  .text-bg {
    color: $subtext-color;
    font-size: $font-size-title + 170px;
    display: inline-block;
    position: relative;
    margin: 430px 0 0 -37px;
    line-height: 150px;
    font-weight: 700;
    z-index: -10;

    @include breakpoint($screen-lg){
      font-size: $font-size-title + 100px;
      margin: 430px 0 0 -355px;
    }
    @include breakpoint($screen-nexus - 120){
      font-size: $font-size-title + 5px;
      margin: 420px 0 0 -186px;
    }

  }
  .text-rotation{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .grey-block{
    background-color: $grey-light;
    position: relative;
    margin: -440px 0 -500px 50%;
    width: 50%;
    height: 887px;
    z-index: -10;

    @include breakpoint($screen-ipad){
      display: none;
    }

  }
  .dot-block{
    background: {
      image: url("/images/Paterns/02_patern.jpg");
      repeat: repeat;
      position: 50% 0;
    }
    display: block;
    position: relative;
    margin: -777px 0 0 0;
    width: 50%;
    height: 530px;
    z-index: -20;
    opacity: 0.15;

    @include breakpoint($screen-lg){
      margin-top: -750px;
    }
    @include breakpoint($screen-ipad){
      display: none;
    }
  }
  .line-bg{
    background-color: #f1f1f1;
    position: relative;
    height: 7px;
    width: 50%;
    margin-bottom: 185px;
    @include breakpoint($screen-ipad){
      float: right;
      margin: 113px -209px 0 0;
    }
  }

}