@import "../mixins";
@import "../variables";

.vacancy {
  margin-top: 95px;

  .base-section {
    position: relative;
    display: flex;

    .text-block {
      max-width: 704px;

      .intro {
        line-height: 0;
      }
    }

    .line {
      height: 7px;
      border: none;
      margin-top: 16px;

    }

    .line,
    .subtitle,
    .intro {
      z-index: 2;
      position: relative;
    }

    .title,
    .subtitle,
    .intro {
      color: $black;
    }

    .title {
      font-family: "helv", sans-serif;
      margin: 148px 0 0 -28px;
      width: 510px;
      line-height: .9;
      font-size: $font-size-title - 4px;
      font-weight: 300;
      height: 76px;
      text-transform: uppercase;
    }

    .subtitle {
      font-size: $font-size-big * 2;
      font-weight: 700;
      line-height: 40px;
      width: 679px;
      margin: 70px 0 38px 0;
    }
  }

  .intro {
    font-size: $font-size-big;
    font-weight: 400;
    line-height: 26px;
    transform: scaleX(1.002);
  }

  .block-image {
    margin-top: 80px;
    margin-left: 10px;
    position: relative;
    z-index: 2;

    .dote {
      width: 585px;
      height: 217px;
      z-index: -1;
      right: -117px;
      bottom: -80px;
      position: absolute;
      background-image: url(/images/Paterns/02_patern.jpg);
      opacity: 0.1;
    }
  }

  .shadow {
    z-index: 1;
    background-color: #f9f9f9;
    top: 219px;
    right: 0;
    width: 100%;
    height: 224px;
    max-width: 877px;
    position: absolute;

  }

  .shadow-triangle {
    position: relative;
    z-index: 1;
    width: 0;
    height: 0;
    right: -28.8rem;
    top: -22.5rem;
    border-top: 295px solid #f9f9f9;
    border-right: 295px solid transparent;
  }

  .subtext {
    color: $subtext-color;
    font-size: ($font-size-title * 2) + 10px;
    line-height: 210px;
    font-weight: 700;
    text-align: left;
  }

  .first-section {
    margin-top: 15px;

    .subtext {
      margin-left: -12px;
    }

    .bckg-line {
      margin-top: 2px;
      position: absolute;
      background-image: url(/images/Paterns/01_patern.jpg);
      width: 100%;
      height: 100%;
      opacity: 0.1;
      max-width: 1220px;
    }

    .card-section {
      position: relative;
      margin-top: -35px;
      width: 100%;
      height: 100%;
      max-width: 1220px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: -15px;
      width: 106%;
      top: -40px;
      margin-left: -20px;
      position: relative;
    }

    .shadow-card {
      width: 356px;
      height: 300px;
      margin: 0 80px 7rem 0;
      background: $white;
      background: linear-gradient(-135deg, transparent 30px, $white 0) top right;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: $white;

      &:nth-child(3n){
        margin-right: 0;
      }

      .single-card::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-style: solid;
        border-width: 0 40px 40px 0;
        border-color: transparent transparent $subtext-color transparent;
      }
    }

    .single-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 356px;
      height: 300px;

      .top {
        z-index: -1;
        margin: 0;
        width: 314px;
        color: white;
        border: 0;
        box-shadow: 0px -3px 15px 1.5px rgba(0, 0, 0, 0.15);
      }

      .right {
        z-index: -1;
        height: 253px;
        position: absolute;
        right: 0;
        top: 37px;
        color: white;
        border: 0;
        box-shadow: 0 -3px 15px 1.5px rgba(0,0,0,0.15);
      }

      .left {
        z-index: -1;
        height: 300px;
        position: absolute;
        left: 0;
        top:-6px;
        color: white;
        border: 0;
        box-shadow: 0 -3px 15px 1.5px rgba(0,0,0,0.15);
      }

      .angle {
        z-index: -1;
        width: 56px;
        transform: rotate(45deg);
        position: absolute;
        right: -5px;
        top: 10px;
        color: transparent;
        border: 0;
        box-shadow: 3px -3px 15px 1.5px rgba(0,0,0,0.15);
      }

      .bottom {
        z-index: -1;
        position: absolute;
        bottom: 0;
        width: 356px;
        color: white;
        border: 0;
        box-shadow: 0 5px 15px 1.5px rgba(0, 0, 0, 0.15);
      }
    }

    .developer,
    .status-block {
      width: 240px;
      margin: 0 auto;
    }

    .developer {
      min-height: 135px;
      display: flex;
      align-items: center;
      color: $black;
      padding-top: 40px;
      font-size: $font-size-big + 4px;
      font-weight: 700;
      text-align: left;
    }

    .status-block {
      padding-bottom: 66px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .status {
      color: $black;
      font-size: $font-size-base;
      font-weight: 700;
      text-align: left;
    }

    .link {
      border-radius: 50%;
      background-color: $green-tint;
      box-shadow: 0 5px 20px 0 rgba(0, 225, 164, 0.4);
      width: 50px;
      height: 50px;

      span {
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
      }
    }
  }

  .second-section {
    .shadow {
      top: -22.5rem;
      left: -100px;
      position: relative;
    }

    .image-with-text {
      display: flex;
      margin-top: -19px;
      margin-left: 87px;
    }

    .line {
      border: 0;
      background-color: #f1f1f1;
      max-width: 586px;
      height: 7px;
      margin: 0;
      width: 100%;
    }

    .text {
      bottom: 5px;
      position: relative;
      writing-mode: vertical-rl;
      text-align: start;
      transform: rotate(180deg);

      .name {
        color: $black;
        margin: 0;
        font-size: $font-size-big;
        font-weight: 400;
        line-height: 24px;
      }

      .position {
        color: $grey;
        margin: 0;
        font-size: $font-size-big;
        font-weight: 400;
        line-height: 24px;
      }
    }

    .img {
      z-index: 3;
    }

    .block {
      height: 40rem;
    }

    .subtext {
      position: relative;
      font-size: $font-size-title + 41px;
      z-index: 2;
      margin-left: -1.8rem;
      margin-top: 11rem;
      letter-spacing: 2px;
    }

    .white-block {
      border: 2px solid $black;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
      width: 585px;
      min-height: 339px;
      margin-top: -4rem;
      margin-left: -10rem;
      z-index: 4;
      position: relative;

      .info {
        color: $black;
        font-size: $font-size-big;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
      }

      .info-block {
        padding: 49px 49px 0 49px;
      }

      .number {
        margin-top: 46px;
        align-items: center;
        display: flex;
        color: $black;
        font-size: $font-size-big + 4px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;

        .number-line {
          background-color: $black;
          width: 49px;
          height: 3px;
          margin: 0;
        }

        p {
          margin: 0 0 0 20px;
        }
      }
    }
  }

  .third-section {
    margin-top: 200px;
    height: 755px;
    position: relative;

    .subtext {
      z-index: 3;
      font-size: 240.82px;
      margin-left: 13.2rem;
      position: relative;
      top: 19rem;
      left: 3rem;
      letter-spacing: 4px;
    }

    .image-logo {
      z-index: 2;
      position: relative;
      top: inherit;
      margin-top: -31.5rem;
      left: -2rem;
    }

    .dote {
      z-index: 1;
      position: absolute;
      top: 9.5rem;
      left: 28.5rem;
      background-image: url(/images/Paterns/02_patern.jpg);
      width: 450px;
      height: 330px;
      opacity: 0.1;
    }

    .image {
      top: -9.5rem;
      left: 5rem;
    }

    .text-block,
    .image {
      position: relative;
      z-index: 4;
    }

    .text-block {
      top: -37.1rem;
      left: 19.5rem;
      position: relative;

      .title {
        color: $black;
        font-size: 39.94px;
        line-height: 34px;
        font-weight: 700;
        text-align: left;
        transform: scaleX(1.002);
      }

      .subtitle {
        color: $black;
        font-size: $font-size-big;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        transform: scaleX(1.002);
        width: 547px;
        margin: 51px 0 51px;
      }

      .button {
        width: 215px;
        height: 50px;
        box-shadow: 0 5px 20px 0 rgba(0, 225, 164, 0.4);
      }
    }
  }
}
